<template name='project'>
  <ul class="table-view">

    {{#each projects}}
      <li class="table-view-cell media">
        <a class="navigate">
          <img class="media-object pull-left" width='100' height='125' src="images/Anne-Teubert600_758.jpg">
          <div class="media-body">
              <h4><a href="{{website}}"> {{name}} </a>   &nbsp;&nbsp;&nbsp;<span class="icon icon-up" rid="{{_id}}"  id='upvote'>  &nbsp;  </span><span class="icon icon-down" id='downvote' rid="{{_id}}"></span></h4>
              <p>{{description}}</p>
              <p> Expected INR: {{total_funds}}, Received INR: {{donations}}</p>
          </div>
        </a>
      </li>
    {{/each }}
</ul>
</template>
